# Database Configuration
DB_USER=root
DB_PASSWORD=root
DB_NAME=database
DB_URL=postgresql://root:root@db:5432/database

# Backend Configuration
BACKEND_PORT=8080
BACKEND_HOST=0.0.0.0

# Frontend Configuration
VITE_BACKEND_URL=http://localhost:8080
VITE_API_URL=http://localhost:8080/api

# Environment
NODE_ENV=development
