services:
  monorepo:
    container_name: turborepo-monorepo
    image: monorepo
    build:
      context: .
      dockerfile: ./dockerfile.dev
    ports:
      - "5173:5173"
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/backend/node_modules
      - /app/apps/frontend/node_modules
    env_file:
      - .env.dev
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    container_name: turborepo-postgres
    image: postgres:16-alpine
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - .env.dev
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER:-root} -d ${POSTGRES_DB:-database}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  db_data:
    driver: local

networks:
  app-network:
    driver: bridge
