html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  /* SPACEMENTS */
  --xs: 6px;
  --sm: 8px;
  --md: 16px;
  --lg: 32px;
  --xl: 56px;
  --2xl: 80px;

  /* FONT SITES */
  --font-display: 64px;
  --font-h2: 36px;
  --font-p: 14px;
  --font-element-title: 16px;

  /* MEDIA QUERIES */
  --screen-mobile: 393px;
  --screen-tablet: 767px;
  --screen-desktop: 1024px;

  /* COLORS */
}
